body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mt-8 {
    margin-top: 2rem /* 32px */;
}

.size-5 {
    width: 1.25rem /* 20px */;
    height: 1.25rem /* 20px */;
}

.size-6 {
    width: 1.5rem;
    height: 1.5rem;
}
.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mr-4 {
    margin-right: 1rem /* 16px */;
}

.\!max-w-full {
    max-width: 100% !important;
}

.h-1\/2 {
    height: 50%;
}

.inset-0 {
    inset: 0px;
}
.before\:inset-0::before {
    content: var(--tw-content);
    inset: 0px;
}
